.nav__logo.ten-school-110 {
  font-size: 1.4rem;
}

a.nav__logo.ten-school-110 {
  color: var(--ten-school-110) !important;
}

i.bx.bx-menu {
  color: var(--ten-school-110) !important;
}

.ten-school-110 {
  color: var(--ten-school-110) !important;
}

.ten-school-110:hover {
  color: var(--ten-school-110) !important;
}

/* article-nav: 增加權重 */
.article-nav.article-nav.article-nav {
  color: var(--body-color) !important;
}
.article-nav.article-nav:hover {
  color: var(--ten-school-pink) !important;
}

/* article-nav: 增加權重 */
@media screen and (min-width: 768px) {
  .article-nav-item {
    color: var(--body-color) !important;
  }
  .article-nav-item:hover {
    color: var(--ten-school-pink) !important;
  }
}

@media screen and (max-width: 767px) {
  .article-nav-item:hover {
    color: var(--ten-school-110) !important;
  }
}

.page-109y {
  i.bx.bx-menu {
    color: transparent;
  }
}
